process {
    executor = 'local'
}

workDir = '/home/payal/nextflow_pipeline/work'

params {

    // input files
    reads = "/home/payal/nextflow_pipeline/data/*.fastq"
    ref   = "/home/payal/nextflow_pipeline/data/reference.fa"

    // tool binaries (ABSOLUTE PATHS)
    fastqc   = "/usr/bin/fastqc"
    bwa      = "/usr/bin/bwa"
    samtools = "/usr/bin/samtools"
    bcftools = "/usr/bin/bcftools"
}
